@page
@model Movie_App.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>List of all movies</h2>

<p>
    <a asp-page="Create"><input type="button" class="btn btn-light" value="Add" /></a>
</p>

<form asp-page="./Index" method="get">
    <div>
        <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-light" />
    </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <a asp-page="./Index" asp-route-currentFilter="@Model.CurrentFilter">
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Title)
            </th>
            </a>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><input type="button" class="btn btn-light" value="Edit" /></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><input type="button" class="btn btn-light" value="Delete" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Movies.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Movies.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Movies.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-light @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Movies.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-light @nextDisabled">
    Next
</a>